@model Asp.netCoreMVCIntro.ViewModels.CollageViewModel

<div class="row text">
    <div class="col-md-8 offset-2">
        <div class="form-group mb-3">
            <label asp-for="Collage_Name" class="control-label"></label>
            <input asp-for="Collage_Name" class="form-control">
            <span asp-validation-for="Collage_Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Grade" class="control-label"></label>
            <input asp-for="Grade" class="form-control">
            <span asp-validation-for="Grade" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-outline-success float-end">Submit</button>
            @*<input type="submit" value="Submit" class="btn btn-outline-success float-end">*@
            <a asp-controller="Collage" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
        </div>

    </div>
</div>
    
